<div class="resume-container">
  <div class="resume-section">
    <div class="tab-header not-selectable">Experience</div>
    <div class="tab-content">
      <div class="experience-item">
        <div class="experience-header">
          <h3>Bachelors project</h3>
          <span class="date">oct. 2024 - jan. 2025</span>
        </div>
        <div class="company">Tech Chapter</div>
        <ul class="win98-list">
          <li>Designed and implemented a Kubernetes cluster to develop an on-premise private cloud, ensuring scalability and reliability.</li>
          <li>Automated application deployment using OpenTofu and Helm, streamlining infrastructure management and consistency.</li>
          <li>Monitored and maintained cluster health through Prometheus and Grafana, enabling proactive issue detection and performance optimization.</li>
        </ul>
      </div>
    </div>
    <div class="tab-content">
      <div class="experience-item">
        <div class="experience-header">
          <h3>Platform engineer - intern</h3>
          <span class="date">aug. 2024 - oct. 2025</span>
        </div>
        <div class="company">Tech Chapter</div>
        <ul class="win98-list">
          <li>Developed and maintained a microservice-based time tracking solution built with .NET, ensuring high performance and scalability.</li>
          <li>Enhanced and updated Terraform code for deploying the solution to AWS EKS, improving infrastructure automation and reliability.</li>
        </ul>
      </div>
    </div>
    <div class="tab-content">
      <div class="experience-item">
        <div class="experience-header">
          <h3>Backend developer - intern</h3>
          <span class="date">aug. 2022 - oct. 2022</span>
        </div>
        <div class="company">Ecreo</div>
        <ul class="win98-list">
          <li>Developed a full-stack system using ASP.NET MVC for managing Jira tasks, improving task tracking and workflow efficiency, by making a simplified Jira interface.</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="resume-section">
    <div class="tab-header not-selectable">Education</div>
    <div class="tab-content">
      <div class="education-item">
        <div class="education-header">
          <h3>Bachelor's in Software Development</h3>
          <span class="date">aug. 2023 - jan. 2025</span>
        </div>
        <div class="institution">Business Academy South West</div>
        <div class="details">
          <ul class="win98-list">
            <li>Development of distributed systems using microservices and various design patterns, with a strong focus on proper testing methodologies, including black-box and white-box testing.</li>
            <li>Understanding and application of DevOps and platform engineering principles to streamline development, deployment, and operations.</li>
            <li>Secure system and web application design, emphasizing best practices to prevent vulnerabilities and enhance cybersecurity.</li>
            <li>Principles of User Interface design, focusing on usability, accessibility, and creating intuitive user experiences.</li>
          </ul>
        </div>
      </div>
      <div class="education-item">
        <div class="education-header">
          <h3>AP Computer Science (Datamatiker)</h3>
          <span class="date">aug. 2020 - jan. 2023</span>
        </div>
        <div class="institution">Business Academy South West</div>
        <div class="details">
          <ul class="win98-list">
            <li>Proficiency in programming languages including C#, Java, JavaScript, and TypeScript, with a strong foundation in software quality, software architecture, algorithms, data structures, and databases.</li>
            <li>Knowledge of digitalization, IT strategies, business understanding, and value creation through IT.</li>
            <li>Analysis of IT systems, development methodologies, software design, project management, IT tools, and quality assurance.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Technical Skills -->
  <div class="technologies-section">
    <div class="tab-header not-selectable">Technical Skills</div>
    <div class="tab-content not-selectable">
      <div class="tech-grid">
        <div class="tech-item">
          <img src="assets/icons/tech/angular.png">
          <span>Angular</span>
        </div>
        <div class="tech-item">
          <img src="assets/icons/tech/vue.png">
          <span>Vue.js</span>
        </div>
        <div class="tech-item">
          <img src="assets/icons/tech/nextjs.png">
          <span>Next.js</span>
        </div>
        <div class="tech-item">
          <img src="assets/icons/tech/asp.png">
          <span>ASP.NET Core</span>
        </div>
        <div class="tech-item">
          <img src="assets/icons/tech/docker.png">
          <span>Docker</span>
        </div>
        <div class="tech-item">
          <img src="assets/icons/tech/terraform.png">
          <span>Terraform</span>
        </div>
        <div class="tech-item">
          <img src="assets/icons/tech/kubernetes.png">
          <span>Kubernetes</span>
        </div>
        <div class="tech-item">
          <img src="assets/icons/tech/aws.png">
          <span>AWS</span>
        </div>
        <div class="tech-item">
          <img src="assets/icons/tech/azure.png">
          <span>Azure</span>
        </div>
      </div>
    </div>
  </div>

  <div class="resume-section">
    <div class="tab-header not-selectable">Programming languages</div>
    <div class="tab-content">
      <div class="language-grid">

        <div class="language-item">
          <div class="language-name not-selectable">C#</div>
          <div class="proficiency-bar">
            <div class="proficiency-level" style="width: 95%"></div>
          </div>
        </div>
        <div class="language-item">
          <div class="language-name not-selectable">Typescript</div>
          <div class="proficiency-bar">
            <div class="proficiency-level" style="width: 90%"></div>
          </div>
        </div>
        <div class="language-item">
          <div class="language-name not-selectable">Java</div>
          <div class="proficiency-bar">
            <div class="proficiency-level" style="width: 70%"></div>
          </div>
        </div>
        <div class="language-item">
          <div class="language-name not-selectable">Python</div>
          <div class="proficiency-bar">
            <div class="proficiency-level" style="width: 65%"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="resume-section">
    <div class="tab-header not-selectable">Languages</div>
    <div class="tab-content">
      <div class="language-grid">

        <div class="language-item">
          <div class="language-name not-selectable">Danish</div>
          <div class="proficiency-bar">
            <div class="proficiency-level" style="width: 100%"></div>
          </div>
        </div>
        <div class="language-item">
          <div class="language-name not-selectable">German</div>
          <div class="proficiency-bar">
            <div class="proficiency-level" style="width: 100%"></div>
          </div>
        </div>
        <div class="language-item">
          <div class="language-name not-selectable">English</div>
          <div class="proficiency-bar">
            <div class="proficiency-level" style="width: 95%"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
