<div class="about-container">
  <div class="profile-section">
    <div class="profile-image">
      <img src="assets/profile-photo.jpg" alt="Profile Picture">
    </div>
    <div class="profile-info">
      <div class="name-title">
        <h1 class="name">Kjell Schoke</h1>
        <h2 class="title">Fullstack Developer | Platform Engineer</h2>
        <br>
        <a href="mailto:kjell.schoke@outlook.com" class="email-link">kjell.schoke@outlook.com</a>
      </div>
    </div>
  </div>

  <div class="social-links">
    <div class="tab-header not-selectable">Social Links</div>
    <div class="tab-content">
      <a href="https://github.com/kjelloo" target="_blank" class="social-link">
        <img class="not-selectable" src="assets/icons/github.png">
        <span class="not-selectable">GitHub</span>
      </a>
      <a href="https://www.linkedin.com/in/kjell-schoke/" target="_blank" class="social-link">
        <img class="not-selectable" src="assets/icons/linkedin.png">
        <span class="not-selectable">LinkedIn</span>
      </a>
    </div>
  </div>

  <div class="about-section">
    <div class="tab-header not-selectable">About Me</div>
    <div class="tab-content">
      <p>
        I am a software developer graduate with expertise in designing and developing full-stack distributed systems using .NET and Angular.
        <br><br>
        My interests extend to DevOps practices and automation, particularly through GitOps and infrastructure-as-code solutions like Terraform.
        <br><br>
        I am passionate about building scalable, maintainable, and efficient software solutions while leveraging automation to streamline development and deployment processes.
      </p>
    </div>
  </div>

  <div class="projects-section">
    <div class="tab-header not-selectable">Projects</div>
    <div class="tab-content">
      <div class="projects-grid">
        <a href="https://github.com/kjelloo/GoofPass" target="_blank" class="project-card">
          <div class="project-info">
            <h3 class="project-title not-selectable">GoofPass</h3>
            <p class="project-description not-selectable">
              A password management system based on PBKDF2 and AES-256,
              where passwords are encrypted on the client-side, stored encrypted on a server, and can only be decrypted by the users master password.</p>
            <div class="project-tags not-selectable">
              <span class="tag">Angular</span>
              <span class="tag">ASP.NET Core</span>
              <span class="tag">Crypto.js</span>
            </div>
          </div>
        </a>

        <a href="https://github.com/kjelloo/ChefHub" target="_blank" class="project-card">
          <div class="project-info">
            <h3 class="project-title not-selectable">ChefHub</h3>
            <p class="project-description not-selectable">
              An android app where users can upload cooking recipes that can be liked,
              commented and shared by other users, similar to a social media platform.
            </p>
            <div class="project-tags not-selectable">
              <span class="tag">Kotlin</span>
              <span class="tag">Android Development</span>
            </div>
          </div>
        </a>

        <a href="https://github.com/kjelloo/portfolio" target="_blank" class="project-card">
          <div class="project-info">
            <h3 class="project-title not-selectable">Windows 98 Portfolio</h3>
            <p class="project-description not-selectable">Personal portfolio website styled as a Windows 98 desktop environment.</p>
            <div class="project-tags not-selectable">
              <span class="tag">Angular</span>
              <span class="tag">TypeScript</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
