<app-desktop>
  <ng-container *ngFor="let window of windows">
    <app-window *ngIf="window.id === 'about'" [window]="window">
      <app-about></app-about>
    </app-window>

    <app-window *ngIf="window.id === 'resume'" [window]="window">
      <app-resume></app-resume>
    </app-window>
  </ng-container>

  <app-error-dialog
    *ngIf="errorDialog.isOpen"
    [title]="errorDialog.title"
    [errorMessage]="errorDialog.message">
  </app-error-dialog>

  <app-taskbar></app-taskbar>
</app-desktop>
